@keyframes rotate-s-loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}
body, html {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
  position:absolute;
  top:0;
  left:0
}

.tilt-div{
    
}

.section-default {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
.spinning-loader {
  width: 55vh;
  height: 55vh;
  border-radius: 50%;
  position: absolute;
  display: flex;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 6;
  text-align: center;
}

.spin1 {
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 35s;
  animation-timing-function: linear;
  border: 2px dotted rgb(99, 51, 51);
  border-bottom: 3px solid rgb(204, 40, 40);
  border-top: 3px solid rgb(204, 40, 40);
  
  bottom: 70px;
}
.spin2 {
  width: 52vh;
  height: 52vh;
  border: 2px solid rgb(110, 67, 67);
  background-color: rgba(0, 0, 0, 0.644);
  
  bottom: 70px;
}
.spin3 {
  width: 58vh;
  height: 58vh;
  border: 2px dotted rgb(99, 51, 51);
  transform-style: preserve-3d !important;
}
.spinning-loader img {
  max-height: 70%;
  margin: auto;
  z-index: 7;
}

@media (max-width: 700px){
  .spinning-loader{
    width: 80vw;
    height: 80vw;
    top: 0px;
  }
  .spin2{
    width: 77vw;
    height: 77vw;
    bottom: 0px;
  }
  .spin3 {
    width: 83vw;
    height: 83vw;
  }
  .spin1 {
    bottom: 0px;
  }
}
