{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% for club in about %}
  <title>{{club.name}}</title>
  {% endfor %}
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {%  static "clubs/img/aero/aero_logo.png" %}" rel="icon">
  <link href=" {%  static "clubs/img/aero/aero_logo.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {%  static "clubs/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href=" {%  static "clubs/assets/vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href=" {%  static "clubs/assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href=" {%  static "clubs/assets/vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href=" {%  static "clubs/assets/vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href=" {%  static "clubs/assets/vendor/aos/aos.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {%  static "clubs/assets/css/style.css" %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Knight - v2.0.0
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src=" {% static "clubs/img/aero/aero_logo.png" %}" alt=""></a>
      {% for club in about %}
      <h1 data-aos="zoom-in">Welcome To {{club.name}} </h1>
      <h2 data-aos="fade-up">{{club.tagline}}</h2>
      {% endfor %}
      <a data-aos="fade-up" href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->


  <!-- ======= Nav-Bar ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container">

      <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
      <div class="logo d-block d-lg-none">
        <a href="index.html"><img src=" {%  static "clubs/img/aero/aero_logo_white.png" %}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul class="nav-inner">
          <li class="active"><a href="index.html">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="#about">About Us</a></li>
              <li><a href="#team">Team</a></li>

              <li class="drop-down"><a href="#">Deep Drop</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#services">Services</a></li>

          <li class="nav-logo"><img src=" {%  static "clubs/img/aero/logo.png" %}" alt="" class="img-fluid"></li>

          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <main id="main">


    <!-- ======= About Us Section ======= -->

    <section id="about" class="about">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
          {% for club in about %}
          <p>{{club.name}}</p>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <section id="portfolio-details" class="portfolio-details" data-aos="fade-up" data-aos-delay="100">
              <div class="container">
                <div class="portfolio-details-container">
                  <div class="owl-carousel portfolio-details-carousel">
                    {% for a in about_images %}
                    <img src="{{a.photo.url}}" class="img-fluid" alt="">
                    {% endfor %}
                  </div>
                </div>
              </div>
            </section><!-- End Portfolio Details Section -->
          </div>
          {% for club in about %}
          <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              {{club.about|safe}}
            </div>
            <div class="social-links">
              {% if club.facebook != 'null' %}<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>{% endif %}
              {% if club.twitter != 'null' %}<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>{% endif %}
              {% if club.insta != 'null' %}<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>{% endif %}
              {% if club.youtube != 'null' %}<a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>{% endif %}
              {% if club.linkedin != 'null' %}<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>{% endif %}
              {% if club.git != 'null' %}<a href="#" class="git"><i class="bx bxl-git"></i></a>{% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- End About Us Section -->

    <!-- ======= Highlights Section ======= -->

    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">
        <div class="section-title" data-aos="fade-up">
          <h2>Explore</h2>
        </div>

        <div class="row quote-icon">
          <i class="bx bxs-quote-left"></i>
          <h3>Let your Dreams Take Flight</h3>
          <i class="bx bxs-quote-right"></i>

        </div>
        <div class="owl-carousel testimonials-carousel">
          {%for highlight in highlights%}

          <div class="testimonial-item">
            <h2>{{highlight.name}}</h2>
            <p>{{highlight.details}}
            </p>
          </div>
          {%endfor%}

        </div>

      </div>
    </section><!-- End Highlights Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Workshops</h2>
          <p>Interactive Sessions on various Topics by the Maters of the fields</p>
        </div>
        <div class="row">
          <div class="addscroll col-lg-8 order-2 order-lg-1" data-aos="fade-right">

            {% for workshop in workshops %}
            <div class="icon-box mt-1 mt-lg-0">
              {% if workshop.presentation != 'null' %}
              <a href="{{workshop.presentation}}" target="_blank">
                <i class="bx bx-download"></i></a>
              {% endif %}

              <div class="circle">
                <p>
                  <span style="font-size:30px; font-weight: bold">{{workshop.date.day}}</span>
                  <span style="font-size:20px;">{{ workshop.date|date:'M'}}</span>
                </p>
              </div>
              <h4>{{workshop.name}}
                {% if workshop.date > timenow %}
                <span class="badge badge-success">Upcoming</span>
                {% endif %}
              </h4>

              <p>{{workshop.details}}
                {% if workshop.date > timenow %}

                <br><span class="badge badge-default">Time : {{workshop.date.hour}}:{{workshop.date.minute}}</span>
                <span class="badge badge-default">Location : </span>
                {% endif %}
              </p>
            </div>
            {% endfor %}
          </div>
          <div class="image col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src=" {% static "clubs/img/aero/aero_workshop.jpg" %}" class="img-fluid" alt="">

          </div>


        </div>

      </div>
    </section>


    <section id="services_mobile" class="services">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Workshops</h2>
          <p>Interactive Sessions on various Topics by the Maters of the fields</p>
        </div>
        <div class="row">
          <div class="addscroll col-lg-8 order-2 order-lg-1" data-aos="fade-right">
            {% for workshop in workshops %}
            <div class="icon-box mt-1 mt-lg-0">
              {% if workshop.presentation != 'null' %}
              <a href="{{workshop.presentation}}" target="_blank">
                <i class="bx bx-download"></i></a>
              {% endif %}
              <div class="circle">
                <p>
                  <span style="font-size:30px; font-weight: bold">{{workshop.date.day}}</span>
                  <span style="font-size:20px;">{{ workshop.date|date:'M'}}</span>
                </p>
              </div>
              <h4>{{workshop.name}}
                {% if workshop.date > timenow %}
                <span class="badge badge-success">Upcoming</span>
                {% endif %}
              </h4>

              <p>{{workshop.details}}
                {% if workshop.date > timenow %}

                <br><span class="badge badge-default">Time : {{workshop.date.hour}}:{{workshop.date.minute}}</span>
                <span class="badge badge-default">Location : </span>
                {% endif %}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->
    <!--
Background: #030e16
Elevation: #0a2b43
Small text: #e9f4fc
Aviator: #DEB992
Events: #DEB992
#7CC7C2
-->

    <!-- ======= Events Section ======= -->
    <!-- ======= Featured -  Section ======= -->
    <section id="featured" class="featured">
      <div class="container-fluid">
        <div class="section-title" data-aos="fade-up">
          <h2>Events</h2>
          <p>To make learning Fun</p>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-lg-8 col-sm-12" data-aos="fade-right">
            <div class="tab-content">
              {% for event in events %}
              {% if forloop.first %}
              <div class="tab-pane active show " id="tab-{{forloop.counter}}" data-aos="fade-up" data-aos-delay="100">
                {%else%}
                <div class="tab-pane" id="tab-{{forloop.counter}}" data-aos="fade-up" data-aos-delay="100">
                  {%endif%}

                  <div class="row ">
                    <div class="col-lg-7 col-sm-12 details" data-aos="fade-right">
                      <div class="row ">
                        <div class="event-image">
                          <img src="{{event.image.url}}" class="img-fluid" alt="">
                        </div>
                        <p></p>
                        <p>{{event.details}}</p>
                      </div>
                    </div>
                    <div class="col-lg-5 col-sm-12 col-md-4 details-tab ">
                      <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        {% with closeday as date_registraion_close.day-4 %}

                        {% if event.date_registration_open.day > timenow.day %}
                        <span class="recommended-badge">Registrations open {{event.date_registration_open.date}}</span>
                        {% elif event.date_registration_open.day < timenow.day and closeday > timenow.day  %}
                        <span class="recommended-badge">Registrations open</span>
                        {% elif event.date_registration_open.day < timenow.day and event.date_registration_close.day > timenow.day  %}
                        <span class="recommended-badge">Registrations closing soon</span>
                        {% else %}
                        <span class="recommended-badge">Registrations closed</span>
                        {%endif%}
                        {%endwith%}


                        <h3>{{event.name}}</h3>
                        <div class="circle" style="background-image: url({% static 'clubs/img/date.png' %})" ;>
                          <p> {{ event.date|date:'F'}}
                          </p>
                          <h4> {{event.date|date:'j'}}
                          </h4>
                        </div>
                        <div class="icon-box mt-lg-0">
                          <i class="bx bx-time"></i>
                          <h4>Time : {{ event.date|date:'P'}} </h4>

                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                          <i class="bx bx-navigation"></i>
                          <h4>Location : Coming Soon </h4>

                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                          <i class="bx bx-group"></i>
                          <h4>Team Size : {{ event.teamsize}}</h4>
                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                          <i class="bx bx-file"></i>
                          <h4>File Repo : <a href="{{event.refrences_link}}" target="_blank"> Download
                            </a></h4>
                        </div>
                        <div class="btn-wrap">

                          {% if event.register_link != 'null' and event.date_registration_open < timenow and event.date_registration_close > timenow %}
                          <a href="{{event.registration_link}}" class="btn-buy">Register Now</a>
                          {% else %}
                          <a class="btn-buy">Registerations Closed</a>
                          {% endif %}

                          {% if event.ps_link != 'null' %}
                          <a href="{{event.ps_link}}" class="btn-buy">Problem Statement</a>
                          {% else %}
                          <a class="btn-buy">PS coming soon</a>
                          {% endif %}

                        </div>
                      </div>
                    </div>
                  </div>
                  {% if forloop.first %}

                </div>
                {%else%}
              </div>
              {%endif%}
              {%endfor%}

            </div>
          </div>


          <div class="col-lg-2 mt-0 mt-lg-0 align-self-center" data-aos="fade-left">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                {% for event in events %}
                {% if forloop.first %}
                <a class="nav-link active show" data-toggle="tab" href="#tab-{{forloop.counter}}">
                  <h4>{{event.name}}</h4>
                </a>
                {%else%}
                <a class="nav-link" data-toggle="tab" href="#tab-{{forloop.counter}}">
                  <h4>{{event.name}}</h4>
                </a>
                {%endif%}
                {% endfor %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Featured Section -->

    <!-- ======= Featured - Mobile  Section ======= -->

    <section id="featured-mobile" class="featured">
      <div class="container-fluid">
        <div class="section-title" data-aos="fade-up">
          <h2>Events</h2>
        </div>
        <div class="row justify-content-md-center">
          <div class="nav nav-tabs">
            {% for event in events %}
            {% if forloop.first %}
            <a class="nav-link active show" data-toggle="tab" href="#tab-mobile-{{forloop.counter}}">
              <h4>{{event.name}}</h4>
            </a>
            {%else%}
            <a class="nav-link" data-toggle="tab" href="#tab-mobile-{{forloop.counter}}">
              <h4>{{event.name}}</h4>
            </a>
            {%endif%}
            {% endfor %}
          </div>

          <div class="col-lg-8 col-md-6 col-sm-12" data-aos="fade-right">
            <div class="tab-content">
              {% for event in events %}
              {% if forloop.first %}
              <div class="tab-pane active show" id="tab-mobile-{{forloop.counter}}" data-aos="fade-up" data-aos-delay="100">
                {%else%}
                <div class="tab-pane" id="tab-mobile-{{forloop.counter}}" data-aos="fade-up" data-aos-delay="100">
                  {%endif%}
                  <div class="row">
                    <div class=" lg-0 mt-0 col-sm-12  ">
                      <div class="box" data-aos="zoom-in" data-aos-delay="100">

                        <h3>{{event.name}}</h3>
                        <div class="section1">
                          <div class="event-image">
                            <img src="{{event.image.url}}" class="img-fluid" alt="">
                            <p>{{event.details}}</p>
                          </div>
                        </div>
                        <div class="section2">
                          {% with closeday as date_registraion_close.day-4 %}

                          {% if event.date_registration_open.day > timenow.day %}
                          <span class="recommended-badge">Registrations open {{event.date_registration_open.date}}</span>
                          {% elif event.date_registration_open.day < timenow.day and closeday > timenow.day  %}
                          <span class="recommended-badge">Registrations open</span>
                          {% elif event.date_registration_open.day < timenow.day and event.date_registration_close.day > timenow.day  %}
                          <span class="recommended-badge">Registrations closing soon</span>
                          {% else %}
                          <span class="recommended-badge">Registrations closed</span>
                          {%endif%}
                          {%endwith%}

                          <div class="circle" style="background-image: url({% static 'clubs/img/date.png' %})" ;>
                            <p> {{ event.date|date:'F'}}
                            </p>
                            <h4> {{event.date|date:'j'}}
                            </h4>
                          </div>
                          <div class="icon-box mt-lg-0">
                            <p>Time : {{ event.date|date:'P'}}
                          </div>
                          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <p>Location : Coming Soon </p>

                          </div>
                          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <p>Team Size : {{ event.teamsize}}
                          </div>
                          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <p>File Repo : <a href="{{event.refrences_link}}" target="_blank"> Download
                              </a></p>
                          </div>
                          <div class="btn-wrap">

                            {% if event.register_link != 'null' and event.date_registration_open < timenow and event.date_registration_close > timenow %}
                            <a href="{{event.registration_link}}" class="btn-buy">Register Now</a>
                            {% else %}
                            <a class="btn-buy">Registerations Closed</a>
                            {% endif %}

                            {% if event.ps_link != 'null' %}
                            <a href="{{event.ps_link}}" class="btn-buy">Problem Statement</a>
                            {% else %}
                            <a class="btn-buy">PS coming soon</a>
                            {% endif %}

                          </div>
                        </div>
                        <button class="btn btn-buy myBtn" onclick="myFunction()" data-toggle="button">Details
                        </button>
                      </div>
                    </div>
                  </div>
                  {% if forloop.first %}

                </div>
                {%else%}
              </div>
              {%endif%}
              {%endfor%}
            </div>

          </div>


        </div>
      </div>



      <script>
        function myFunction() {
          var dots = document.getElementsByClassName("section1");
          var moreText = document.getElementsByClassName("section2");
          var btnText = document.getElementsByClassName("myBtn");
          for (var i = 0; i < dots.length; i++) {

            if (dots[i].style.display === "none") {
              dots[i].style.display = "inline";
              btnText[i].innerHTML = "Details";
              moreText[i].style.display = "none";
            } else {
              dots[i].style.display = "none";
              btnText[i].innerHTML = "Back";
              moreText[i].style.display = "inline";
            }
          }
        }

      </script>



    </section>

    <!-- End Featured-mobile Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>We'd love to hear from you</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              {% for club in about %}
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>{{club.club_room_location}}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>{{club.eamil}}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>{{club.contact}}</p>
              </div>
              {%endfor%}

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-left">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->




  </main><!-- End #main -->






  <footer style="background: url('{% static '/img/footer-bg.jpg' %}') center center no-repeat" id="footer">


    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="{% static "img/sntclogo.png" %}" alt=""></a>
            <h3>Science and Technology Council</h3>
            <h4>Indian Institute of Technology</h4>
            <h4>Banaras Hindu University Varanasi</h4>
            <br>

            <p>Where Innovation Meets Exellence</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>


      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Knight</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static "clubs/assets/vendor/jquery/jquery.min.js" %}"></script>
  <script src=" {% static "clubs/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src=" {% static "clubs/assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src=" {% static "clubs/assets/vendor/php-email-form/validate.js" %}"></script>
  <script src=" {% static "clubs/assets/vendor/jquery-sticky/jquery.sticky.js" %}"></script>
  <script src=" {% static "clubs/assets/vendor/venobox/venobox.min.js" %}"></script>
  <script src=" {% static "clubs/assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src=" {% static "clubs/assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
  <script src=" {% static "clubs/assets/vendor/aos/aos.js" %}"></script>

  <!-- Template Main JS File -->
  <script src=" {% static "clubs/assets/js/main.js" %}"></script>


</body>

</html>
