{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Technical Activity Center IIT BHU Varanasi</title>
	<meta content="" name="descriptison">
	<meta content="tac" name="keywords">

	<!-- Favicons -->
	<link href="{%  static "tac/assets/img/favicon.png"  %}" rel="icon">
	<link href="tacassets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href=" {%  static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href=" {%  static "vendor/icofont/icofont.min.css" %}" rel="stylesheet">
	<link href=" {%  static "vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
	<link href=" {%  static "vendor/venobox/venobox.css" %}" rel="stylesheet">
	<link href=" {%  static "vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
	<link href=" {%  static "vendor/aos/aos.css" %}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href=" {%  static "tac/assets/css/style.css" %}" rel="stylesheet">



	<!-- =======================================================
  * Template Name: Knight - v2.0.0
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container">
			<a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="{%  static "tac/assets/img/tac-logo.png" %}" alt=""></a>
			<h1 data-aos="zoom-in">Welcome To {{tac.name}} </h1>
			<h2 data-aos="fade-up">{{tac.tagline}}</h2>

			<a data-aos="fade-up" href="#about" class="btn-get-started scrollto">Get Started</a>
		</div>
	</section><!-- End Hero -->

	<!-- ======= Header ======= -->
	<header id="header" class="d-flex align-items-center">
		<div class="container">

			<!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
			<div class="logo d-block d-lg-none">
				<a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
			</div>

			<nav class="nav-menu d-none d-lg-block">
				<ul class="nav-inner">
					<li class="active"><a href="index.html">Home</a></li>
					<li class="drop-down"><a href="">About</a>
						<ul>
							<li><a href="#about">About Us</a></li>
							<li><a href="#team">Team</a></li>

							<li class="drop-down"><a href="#">Deep Drop</a>
								<ul>
									<li><a href="#">Deep Drop Down 1</a></li>
									<li><a href="#">Deep Drop Down 2</a></li>
									<li><a href="#">Deep Drop Down 3</a></li>
									<li><a href="#">Deep Drop Down 4</a></li>
									<li><a href="#">Deep Drop Down 5</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#services">Services</a></li>

					<li class="nav-logo"><a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a></li>

					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li><a href="#contact">Contact</a></li>

				</ul>
			</nav><!-- .nav-menu -->

		</div>
	</header><!-- End Header -->

	<main id="main">

		<section id="about" class="about">
			<div class="container">
				<div class="section-title" data-aos="fade-up">
					<h2>About Us</h2>
					<p>{{tac.name}}</p>
				</div>
				<div class="row">
					<div class="col-lg-6" data-aos="fade-right">
						<section id="portfolio-details" class="portfolio-details" data-aos="fade-up" data-aos-delay="100">
							<div class="container">
								<div class="portfolio-details-container">
									<div class="owl-carousel portfolio-details-carousel">
										{% for a in about_images %}
										<img src="{{a.photo.url}}" class="img-fluid" alt="">
										{% endfor %}
									</div>
								</div>
							</div>
						</section><!-- End Portfolio Details Section -->
					</div>
					<div class="col-lg-6" data-aos="fade-left">
						<div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
							{{tac.about_tac|safe}}
						</div>
						<div class="social-links">
							{% if tac.facebook != '' %}<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>{% endif %}
							{% if tac.twitter != '' %}<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>{% endif %}
							{% if tac.insta != '' %}<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>{% endif %}
							{% if tac.youtube != '' %}<a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>{% endif %}
							{% if tac.linkedin != '' %}<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>{% endif %}
							{% if tac.git != '' %}<a href="#" class="git"><i class="bx bxl-git"></i></a>{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End About Us Section -->




		<!-- ======= Services Section ======= -->
		<section id="services" class="services" style="background-image: url('{% static '/tac/img/facilities-bg.jpg' %}')">
			<div class="container-fluid">

				<div class="section-title" data-aos="fade-up">
					<h2>Facilities</h2>
				</div>
				<div class="content col-lg-8 mt-lg-0">
					<p>{{tac.about_facilites|safe}}</p>

				</div>
				<div class="row justify-content-around">
					<div class="item-list col-lg-5">
						<h2>Items</h2>

						<div class="row" data-aos="fade-up" data-aos-delay="100">
							<div class="col-lg-12 d-flex justify-content-left">
								<ul class="services-filters">
									{% for category in inventory_category %}
									<li class="tab" onclick="opentabs(event,'{{category.name}}')">{{category.name}}</li>
									{%endfor%}
									<input type="text" placeholder="Search..." onkeyup="search_items()" id="search_bar">
								</ul>
							</div>
						</div>
						<div style="height: 500px;width: 100%; overflow: auto;">
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Available</th>
									</tr>
								</thead>
								<tbody>
									{% for item in inventory %}
									<tr class=" item {{item.item_type}} ">
										<td>{{item.name}}</td>
										<td>{{item.issue_allowed}}</td>
									{%endfor%}

									</tr>
								</tbody>
							</table>
						</div>



					</div>
					<div class="guidelines col-lg-5">
						<h2>Guidelines</h2>
						<div class="content-guidelines">
							<p>
								{{tac.guidelines|safe}}
							</p>


						</div>
						<div class="button_register">
							<a data-aos="fade-up" class="btn-register">Issue Now</a>
						</div>


					</div>
				</div>

			</div>
			<script>
				function opentabs(evt, category) {
					total_list = document.getElementsByClassName("item");
					for (i = 0; i < total_list.length; i++) {
						total_list[i].style.display = "none";
					}

					tablinks = document.getElementsByClassName("tab");
					for (i = 0; i < tablinks.length; i++) {
						tablinks[i].className = tablinks[i].className.replace(" active", "");
					}


					if (category.toUpperCase() == "ALL") {
						selection = document.getElementsByClassName("item");
						console.log("is true")
					} else {
						selection = document.getElementsByClassName(category);
					}


					for (i = 0; i < selection.length; i++) {
						selection[i].style.display = "";
						console.log("in for")
					}
					evt.currentTarget.className += " active";


				}

				function search_items() {
					console.log("search")
					tablinks = document.getElementsByClassName("tab");
					for (i = 0; i < tablinks.length; i++) {
						tablinks[i].className = tablinks[i].className.replace(" active", "");
					}
					input = document.getElementById("search_bar");
					input = input.value.toUpperCase();
					items = document.getElementsByClassName("item")

					for (i = 0; i < items.length; i++) {
						items[i].style.display = "none";
					}
					for (i = 0; i < items.length; i++) {
						td = items[i].getElementsByTagName("td")[0];
						if (td) {
							txtValue = td.textContent || td.innerText;
							if (txtValue.toUpperCase().indexOf(input) > -1) {
								items[i].style.display = "";
							} else {
								items[i].style.display = "none";
							}
						}
					}
				}

			</script>

		</section><!-- End Services Section -->

		<!-- ======= Project Section ======= -->
		<section id="projects" class="about">
			<div class="container">

				<div class="section-title" data-aos="fade-up">
					<h2>Projects</h2>
				</div>

				<div class="row">
					<div class="col-lg-6" data-aos="fade-right">
						<div class="image">
							<img src="{% static "tac/img/projects.jpg" %} " class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6" data-aos="fade-left">
						<div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
							<p>
								{{tac.project_content|safe}}
							</p>

							<a data-aos="fade-up" class="btn-get-started scrollto">Propose your Project</a>
						</div>

					</div>
				</div>

			</div>
		</section>
		<!-- End Project Section -->


		<!-- ======= Portfolio Section ======= -->
		<section id="portfolio" class="portfolio" style="background-image: url('{% static '/tac/img/background2-bg.jpg' %}')">
			<div class="container">

				<div class="section-title" data-aos="fade-up">
					<h2>Big Book</h2>
					<p>
						{{tac.bigbook_content|safe}}
					</p>
				</div>

				<div class="row" data-aos="fade-up" data-aos-delay="100">
					<div class="col-lg-12 d-flex justify-content-center">
						<ul id="portfolio-flters">
							<li data-filter="*" class="filter-active">All</li>
							{%for category in project_categories%}
							<li data-filter="*" class="filter-{{category}}">{{category}}</li>
							{%endfor%}
						</ul>
					</div>
				</div>

				<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

					<div class="col-lg-3 col-md-6 col-sm-8 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img src="{% static "tac/img/portfolio/portfolio-1.jpg" %}" class="img-fluid" alt="">

							<div class="portfolio-info">
								<h4>App 1</h4>
								<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal1">Read More</button>

							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="modal fade" id="modal1">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Project Name</h4>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							<img src="{% static "tac/img/portfolio/portfolio-1.jpg" %}" class="img-fluid" alt="">
							<p>details - dsblfjids fisdgac kfuhd cfsaugc hfsabckh afsviucgvfr oaxhfjavxcug vrxoufh svaxocfr octreouvcxorvxuweixrt cr crieclre cre wl ctbrql wxb trjwc j c vrgtci relbc hterbc trvoa chrxhavfchvrhec vjakvsfc frv ctg rectra ctl gpyvuq5 cprecbgrela cgrwe cbrei cp rea</p>
							<li>maker details - 1</li>
							<li>maker details - 2</li>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>


		</section><!-- End Portfolio Section -->


		<!-- ======= Featured Section ======= -->

		<section id="featured" class="featured">
			<div class="container">
				<div class="section-title" data-aos="fade-up">
					<h2>Technical Teams</h2>
					<p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
				</div>

				<div class="row">
					<div class="col-lg-8" data-aos="fade-right">
						<div class="tab-content">
							<div class="tab-pane active show" id="tab-1">
								<img src="{% static "tac/img/tac_trident.png" %}" alt="" class="img-fluid">
								<div class="image-discription">
									<h2>Team Trident</h2>
									<div class="details">
										<p>ifoyabgvtabcir cogeuf c greouc brfecgyc ouhbgrjhc vgcjqv erjcre vckqrev cxgrqf oxcurqevgch qre ctxtre cxrqohv tochuqvr ctxo3v couhvrjhqcv trqho ctxioq gxtpciq43x cver qcuxhr qtxcr3q</p>
										<li>team head - 1</li>
										<li>team head - 2</li>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-left">
						<ul class="nav nav-tabs flex-column">
							<li class="nav-item">
								<a class="nav-link active show" data-toggle="tab" href="#tab-1">
									<h4>Modi sit est</h4>
									<p>Quis excepturi porro totam sint earum quo nulla perspiciatis eius.</p>
								</a>
							</li>
							<li class="nav-item mt-2">
								<a class="nav-link" data-toggle="tab" href="#tab-2">
									<h4>Unde praesentium sed</h4>
									<p>Voluptas vel esse repudiandae quo excepturi.</p>
								</a>
							</li>
							<li class="nav-item mt-2">
								<a class="nav-link" data-toggle="tab" href="#tab-3">
									<h4>Pariatur explicabo vel</h4>
									<p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>
								</a>
							</li>
							<li class="nav-item mt-2">
								<a class="nav-link" data-toggle="tab" href="#tab-4">
									<h4>Nostrum qui quasi</h4>
									<p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</section><!-- End Featured Section -->


		<!-- ======= Contact Section ======= -->
		<section id="contact" class="contact section-bg">
			<div class="container">

				<div class="section-title">
					<h2>Contact</h2>
					<p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
				</div>

				<div class="row">

					<div class="col-lg-4">
						<div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
							<div class="address">
								<i class="icofont-google-map"></i>
								<h4>Location:</h4>
								<p>A108 Adam Street,<br>New York, NY 535022</p>
							</div>

							<div class="email">
								<i class="icofont-envelope"></i>
								<h4>Email:</h4>
								<p>info@example.com</p>
							</div>

							<div class="phone">
								<i class="icofont-phone"></i>
								<h4>Call:</h4>
								<p>+1 5589 55488 55s</p>
							</div>

						</div>

					</div>

					<div class="col-lg-8 mt-5 mt-lg-0">

						<form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-left">
							<div class="form-row">
								<div class="col-md-6 form-group">
									<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
									<div class="validate"></div>
								</div>
								<div class="col-md-6 form-group">
									<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
									<div class="validate"></div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
								<div class="validate"></div>
							</div>
							<div class="mb-3">
								<div class="loading">Loading</div>
								<div class="error-message"></div>
								<div class="sent-message">Your message has been sent. Thank you!</div>
							</div>
							<div class="text-center"><button type="submit">Send Message</button></div>
						</form>

					</div>

				</div>

			</div>
		</section><!-- End Contact Section -->

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer style="background-image: url('{% static '/clubs/img/footer-bg.jpg' %}')" id="footer">


		<div class="footer-top">

			<div class="container">

				<div class="row justify-content-center">
					<div class="col-lg-6">
						<a class=" footer-logo"><img src="{% static "clubs/img/sntclogo.png" %}" alt=""></a>
						<h3>Science and Technology Council</h3>
						<h4>Indian Institute of Technology</h4>
						<h4>Banaras Hindu University Varanasi</h4>
						<br>

						<p>Where Innovation Meets Exellence</p>
					</div>
				</div>

				<div class="row footer-newsletter justify-content-center">
					<div class="col-lg-6">
						<form action="" method="post">
							<input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
						</form>
					</div>
				</div>


			</div>
		</div>

		<div class="container footer-bottom clearfix">
			<div class="copyright">
				&copy; Copyright <strong><span>Knight</span></strong>. All Rights Reserved
			</div>
			<div class="credits">
				<!-- All the links in the footer should remain intact. -->
				<!-- You can delete the links only if you purchased the pro version. -->
				<!-- Licensing information: https://bootstrapmade.com/license/ -->
				<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
				Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
			</div>
		</div>
	</footer><!-- End Footer -->

	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


	<!-- Vendor JS Files -->
	<script src=" {% static "vendor/jquery/jquery.min.js" %}"></script>
	<script src=" {% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
	<script src=" {% static "vendor/jquery.easing/jquery.easing.min.js" %}"></script>
	<script src=" {% static "vendor/php-email-form/validate.js" %}"></script>
	<script src=" {% static "vendor/jquery-sticky/jquery.sticky.js" %}"></script>
	<script src=" {% static "vendor/venobox/venobox.min.js" %}"></script>
	<script src=" {% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
	<script src=" {% static "vendor/owl.carousel/owl.carousel.min.js" %}"></script>
	<script src=" {% static "vendor/aos/aos.js" %}"></script>

	<!-- Template Main JS File -->
	<script src=" {% static "tac/assets/js/main.js" %}"></script>


</body>

</html>
