{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard Science and Technology Council</title>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  <link rel="stylesheet" href="{% static "vendor/dashboard/css/mdi/css/materialdesignicons.min.css" %}">
  <link rel="stylesheet" href="{% static "vendor/dashboard/css/ionicons/css/ionicons.css" %}">
  <link rel="stylesheet" href="{% static "vendor/dashboard/css/typicons/src/font/typicons.css" %}">
  <link rel="stylesheet" href="{% static "vendor/dashboard/css/flag-icon-css/css/flag-icon.min.css" %}">
  <link rel="stylesheet" href="{% static "vendor/dashboard/css/vendor-bundles/vendor.bundle.base.css" %}">
  <link rel="stylesheet" href="{% static "vendor/dashboard/css/vendor-bundles/vendor.bundle.addons.css" %}">
  <link rel="stylesheet" href="{% static "main/dashboard/css/style-shared.css" %}">
  <link rel="stylesheet" href="{% static "main/dashboard/css/style-demo.css" %}">
  <link rel="stylesheet" href="{% static "main/dashboard/css/theme2.css" %}">
</head>

<body>
  <div class="container-scroller">

    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img src="../assets/images/logo.svg" alt="SNTC" /> </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
          <img src="../assets/images/logo-mini.svg" alt="logo" /> </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-email-outline"></i>
              <span class="count bg-success">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
              aria-labelledby="notificationDropdown">
              <a class="dropdown-item py-3 border-bottom">
                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-alert m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                  <p class="font-weight-light small-text mb-0"> Just now </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-settings m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                  <p class="font-weight-light small-text mb-0"> Private message </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-airballoon m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                  <p class="font-weight-light small-text mb-0"> 2 days ago </p>
                </div>
              </a>
            </div>
          </li>
          <li>
            <button type="button" class="btn btn-primary logout-button nav-item" onclick="signOut()">Log Out</button>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image">
                <img class="img-xs rounded-circle" id = "profile-image" alt="profile image">
              </div>
              <div class="text-wrapper">
                <p class="profile-name">{{ user.name }}</p>
                <p class="designation">{{ user.rollnumber }}</p>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">Main Menu</li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#dashboard">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#calendar-section">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Calendar</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#events">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Events</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#workshops">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Workshops</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tac">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">TAC</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#blogs">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Blogs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-linstylek" data-toggle="tab" href="#other">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Other</span>
            </a>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
          <div class="tab-content">
            <!-- Main Dashboard Section -->
            <section id="dashboard" class="tab-pane fade active show">
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Dashboard</h4>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Dashboard section -->

            <!-- Profile Section -->
            <section id="profile" class="tab-pane fade">
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Profile</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 d-flex align-items-stretch grid-margin">
                  <div class="row flex-grow">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">General Information</h4>
                          <form>
                          <fieldset disabled = "disabled" class="forms-sample">
                            <div class="form-group row">
                              <label for="name" class="col-sm-3 col-form-label">Name</label>
                              <div class="col-sm-9">
                                <input type="name" class="form-control" id="name" placeholder="Enter Name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="email" class="col-sm-3 col-form-label">E-mail</label>
                              <div class="col-sm-9">
                                <input disabled type="email" class="form-control" id="email"
                                  placeholder="E-mail Address">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="rollno" class="col-sm-3 col-form-label">Roll Number</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" id="rollno" placeholder="Institute Roll Number">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="phoneno" class="col-sm-3 col-form-label">Phone Number</label>
                              <div class="col-sm-9">
                                <input type="tel" class="form-control" id="phoneno" placeholder="Preferably WhatsApp">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                              <div class="col-sm-9">
                                <select type="password" class="form-control" id="gender" placeholder="Gender">
                                  <option>Male</option>
                                  <option>Female</option>
                                  <option>Other</option>
                                </select>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-success mr-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                          </fieldset>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Academic Details</h4>
                      <form class="forms-sample">
                        <p class="card-description " style="text-align: center;"> So that we may redirect the perfect
                          opportunities to you. </p>

                        <div class="form-group row">
                          <label for="college" class="col-sm-3 col-form-label">Current College</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="college" placeholder=""
                              value="Indian Institute of Technology BHU Varanasi">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="branch" class="col-sm-3 col-form-label">Branch</label>
                          <div class="col-sm-9">
                            <select class="form-control" id="branch" placeholder="">
                              <option>Electrical</option>
                              <option>Electronics</option>
                              <option>Other</option>
                            </select>section
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="year" class="col-sm-3 col-form-label">Year</label>
                          <div class="col-sm-9">
                            <input type="number" class="form-control" id="year" placeholder="Your current year of Study"
                              min="1" max="10">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="course" class="col-sm-3 col-form-label">Course</label>
                          <div class="col-sm-9">
                            <select class="form-control" id="course" placeholder="current course">
                              <option>Mtech</option>
                              <option>Btech</option>
                              <option>Phd</option>
                            </select>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Interests and Skills</h4>
                      <form class="forms-sample">
                        <div class="form-group row">
                          <label for="skills" class="col-sm-3 col-form-label">Skills</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" id="skills" placeholder="Enter your relevant skills here"
                              rows=4></textarea>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="interests" class="col-sm-3 col-form-label">Interests</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" id="interests"
                              placeholder="Enter your relevant Interests here" rows=4></textarea>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Other Details</h4>
                      <form class="forms-sample">
                        <div class="form-group row">
                          <label for="city" class="col-sm-3 col-form-label">Current City</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="city" placeholder="" value="Varanasi">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="bday" class="col-sm-3 col-form-label">Birthdate</label>
                          <div class="col-sm-9">
                            <input class="form-control" type="date" id="bday" placeholder="we'd love to wish you.">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="avatar" class="col-sm-3 col-form-label">Superhero</label>
                          <div class="col-sm-9">
                            <input type="number" class="form-control" id="avatar" placeholder="Your Favourite Superhero"
                              min="1" max="10">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Profile Section -->

            <!-- Calendar Section -->
            <section id="calendar-section" class="tab-pane fade">
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Calendar</h4>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Basic Table</h4>
                      <p class="card-description"> Add class <code>.table</code> </p>
                      <div id="caleandar">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Hoverable Table</h4>
                      <p class="card-description"> Add class <code>.table-hover</code> </p>
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>User</th>
                            <th>Product</th>
                            <th>Sale</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Jacob</td>
                            <td>Photoshop</td>
                            <td class="text-danger"> 28.76% <i class="mdi mdi-arrow-down"></i>
                            </td>
                            <td>
                              <label class="badge badge-danger">Pending</label>
                            </td>
                          </tr>
                          <tr>
                            <td>Messsy</td>
                            <td>Flash</td>
                            <td class="text-danger"> 21.06% <i class="mdi mdi-arrow-down"></i>
                            </td>
                            <td>
                              <label class="badge badge-warning">In progress</label>
                            </td>
                          </tr>
                          <tr>
                            <td>John</td>
                            <td>Premier</td>
                            <td class="text-danger"> 35.00% <i class="mdi mdi-arrow-down"></i>
                            </td>
                            <td>
                              <label class="badge badge-info">Fixed</label>
                            </td>
                          </tr>
                          <tr>
                            <td>Peter</td>
                            <td>After effects</td>
                            <td class="text-success"> 82.00% <i class="mdi mdi-arrow-up"></i>
                            </td>
                            <td>
                              <label class="badge badge-success">Completed</label>
                            </td>
                          </tr>
                          <tr>
                            <td>Dave</td>
                            <td>53275535</td>
                            <td class="text-success"> 98.05% <i class="mdi mdi-arrow-up"></i>
                            </td>
                            <td>
                              <label class="badge badge-warning">In progress</label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Calendar section -->

            <!-- Events Section -->
            <section id="events" class="tab-pane fade">
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Events</h4>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Events section -->

            <!-- Workshop Section -->
            <section id="workshops" class="tab-pane fade">
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Workshops</h4>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Workshop section -->

            <!-- TAC Section -->
            <section id="tac" class="tab-pane fade">
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Technical Activity Center</h4>
                  </div>
                </div>
              </div>
            </section>
            <!-- End TAC Section -->

            <!-- Blog Section -->
            <section id="blogs" class="tab-pane fade">
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Blogs</h4>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Blog Section -->

            <!-- Other Section -->
            <section id="other" class="tab-pane fade">
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Other</h4>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Other Section -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static "vendor/dashboard/js/vendor.bundle.base.js" %}"></script>
  <script src="{% static "vendor/dashboard/js/vendor.bundle.addons.js" %}"></script>
  <script src="{% static "main/dashboard/js/off-canvas.js" %}"></script>
  <script src="{% static "main/dashboard/js/misc.js" %}"></script>
  <script src="{% static "main/dashboard/js/dashboard.js" %}"></script>
  <script src="{% static "main/dashboard/js/caleandar.js" %}"></script>
  <script src="{% static "main/dashboard/js/calendar-config.js" %}"></script>
  <script src="{% static "main/dashboard/js/custom.js" %}"></script>

</body>

</html>