{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Knight Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {%  static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href=" {%  static "vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href=" {%  static "vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href=" {%  static "vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href=" {%  static "vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href=" {%  static "vendor/aos/aos.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {%  static "main/assets/css/style.css" %}" rel="stylesheet">
</head>

<body>




  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <canvas id = "about-back" style="background: transparent;"></canvas>
      <div class="container-fluid">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
          <p>Magnam dolores commodi suscipit eius consequatur</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3>Voluptatem dignissimos provident quasi corporis</h3>
              <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div>
          </div>
          <div class="col-lg-2" data-aos="fade-left">
            <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
        </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    
  </main><!-- End #main -->
</body>

<script src=" {% static "vendor/jquery/jquery.min.js" %}"></script>
<script src=" {% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src=" {% static "vendor/jquery.easing/jquery.easing.min.js" %}"></script>
<script src=" {% static "vendor/php-email-form/validate.js" %}"></script>
<script src=" {% static "vendor/jquery-sticky/jquery.sticky.js" %}"></script>
<script src=" {% static "vendor/venobox/venobox.min.js" %}"></script>
<script src=" {% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
<script src=" {% static "vendor/owl.carousel/owl.carousel.min.js" %}"></script>
<script src=" {% static "vendor/aos/aos.js" %}"></script>

<!-- Template Main JS File -->
<script src=" {% static "main/assets/js/main.js" %}"></script>

<script src="{% static "vendor/matter_js/decomp.min.js" %}"></script>

<script src="{% static "vendor/matter_js/matter.min.js" %}"></script>

<script src="{% static "main/assets/js/home_matter.js" %}"></script>



</html>