</head>
<body>
<div id="Web_1920___1">
	<svg class="Rectangle_1_h">
		<linearGradient id="Rectangle_1_h" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#05b8fc" stop-opacity="1"></stop>
			<stop offset="0.261" stop-color="#06719a" stop-opacity="1"></stop>
			<stop offset="0.3749" stop-color="#073c51" stop-opacity="1"></stop>
			<stop offset="0.502" stop-color="#081318" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#080808" stop-opacity="1"></stop>
		</linearGradient>
		<rect fill="url(#Rectangle_1_h)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_1_h" rx="0" ry="0" x="0" y="0" width="2956" height="5434">
		</rect>
	</svg>
	<img id="brain" src="brain.png" srcset="brain.png 1x, brain@2x.png 2x">
	<svg class="Rectangle_2">
		<rect fill="rgba(5,184,252,1)" id="Rectangle_2" rx="100" ry="100" x="0" y="0" width="1401" height="274">
		</rect>
	</svg>
	<div id="START__NOW">
		<span>START  NOW</span>
	</div>
	<img id="wall_e" src="wall_e.png" srcset="wall_e.png 1x, wall_e@2x.png 2x">
	<svg class="Rectangle_3_n">
		<linearGradient id="Rectangle_3_n" spreadMethod="pad" x1="0.5" x2="0.5" y1="0.589" y2="1">
			<stop offset="0" stop-color="#05b8fc" stop-opacity="1"></stop>
			<stop offset="0.1037" stop-color="#08b3f3" stop-opacity="1"></stop>
			<stop offset="0.3515" stop-color="#073343" stop-opacity="1"></stop>
			<stop offset="0.472" stop-color="#073343" stop-opacity="1"></stop>
			<stop offset="0.6192" stop-color="#081115" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#080808" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#080808" stop-opacity="1"></stop>
		</linearGradient>
		<rect fill="url(#Rectangle_3_n)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_3_n" rx="0" ry="0" x="0" y="0" width="1664" height="3205">
		</rect>
	</svg>
	<svg class="Rectangle_4">
		<rect fill="rgba(22,175,233,1)" stroke="rgba(8,8,8,1)" stroke-width="20px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4" rx="100" ry="100" x="0" y="0" width="4268" height="705">
		</rect>
	</svg>
	<div id="TECHNEX__2020">
		<span>TECHNEX  2020</span>
	</div>
	<svg class="Rectangle_5">
		<rect fill="rgba(8,8,8,1)" stroke="rgba(5,184,252,1)" stroke-width="10px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_5" rx="100" ry="100" x="0" y="0" width="1636" height="320">
		</rect>
	</svg>
	<div id="IIT__VARANASI">
		<span>IIT  VARANASI</span>
	</div>
</div>
</body>
</html>